:root {
    --primary-color: #c0392b;
    --dark: #222;
    --light: #f7f7f7;
    --white: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--dark);
    padding: 15px 40px;
}

/* Brand name */
nav h1 {
    color: var(--primary-color);
    font-size: 26px;
    letter-spacing: 2px;
}

/* Navigation links */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    transition: color 0.3s;
    position: relative;
}
nav ul li a:hover {
    color: var(--primary);
}
.nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #ffed28;
    transition: width .3s ease;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.nav ul li a:hover::after {
    width: 100%;
}

/* Sticky Navigation */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Prevent content from hiding behind sticky navigation */
body {
    padding-top: 0px;
    font-family: "Poppins", sans-serif;

}

/* Hero Section */
#home {
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url('images/chef.jpg') ;
    background-size: cover;
    background-position: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#home button{
    margin-top: 25px;
    padding: 12px 25px;
    background-color: var(--primary-color);
    color: var(--dark);
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#home button:hover {
    background-color: var(--light);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    
}

#home h2 {
    font-size: 48px;
}

#home p {
    margin-top: 10px;
    font-size: 18px;
}
/* Sections */
section {
    padding: 60px 40px;
    text-align: center;
    /*animation: fadeup 0.8s ease-in-out;*/
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

#about, #contact {
    background: var(--light);

}
section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: var(--primary-color);
}
section p{
    font-size: 16px;
    max-width: 700px;
    margin: 0 auto;
}

/* Menu Grid */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.menu-item {
    background-color: var(--white);
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

.menu-item img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}
.menu-item p{
    margin-top: 10px;
}
.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
/* Contact Form */
#orderForm {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#orderForm input,
#orderForm textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
}

#orderForm textarea {
    resize: none;
    height: 100px;
}

#orderForm button {
    padding: 12px;
    background-color: #c0392b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

@keyframes fadeup {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }

}
