:root {
    --primary-color: #c0392b;
    --dark: #222;
    --light: #f7f7f7;
    --white: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Hamburger button (hidden on big screens)*/
.menu-toggle {
    display: none; 
    font-size: 28px;
    cursor: pointer;
    color: #ffffff;
}

/* Navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 15px 40px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Brand name */
.logo {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ffffff;
}
.logo span {
    color: #c0392b;
}
.logo small{
    display: block;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 2px;
    color: #ffd9b3;
}

/* Navigation links */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
    position: relative;
}
nav ul li a:hover {
    color: var(--primary-color);
}
.nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #ffed28;
    transition: width .3s ease;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.nav ul li a:hover::after {
    width: 100%;
}

/* Sticky Navigation */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Prevent content from hiding behind sticky navigation */
body {
    padding-top: 100px;
    font-family: "Poppins", sans-serif;

}

/* Hero Section */
#home {
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url('images/chef.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 90px;

}
#home button{
    margin-top: 25px;
    padding: 12px 25px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#home button a{
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
    font-size: 18px;
}

#home button:hover {
    background-color: var(--light);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    
}

#home h2 {
    font-size: 48px;
}

#home p {
    margin-top: 10px;
    font-size: 18px;
}
/* Sections */
section {
    padding: 30px 20px;
    text-align: center;
    /*animation: fadeup 0.8s ease-in-out;*/
    /*opacity: 0;*/
    /*transform: translateY(30px);
    transition: all 0.8s ease;*/
    scroll-margin-top: 80px;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

#about, #contact {
    background: var(--light);

}
section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: var(--primary-color);
}
section p{
    font-size: 16px;
    max-width: 700px;
    margin: 0 auto;
}

/* Menu Grid */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.menu-item {
    background-color: var(--white);
    padding: 15px;
    overflow: hidden;
    border-radius: 10px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    display: block;
    /*max-width: 100%;*/
    height: 150px;

}
.menu-item p{
    margin-top: 10px;
}
.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

@keyframes fadeup {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*@media (min-width: 1200px) {
    .menu-item {
        height: 320px;
    }
    .home h2 {
        font-size: 3.5rem;
    }
}*/
/*Mobile View*/
@media (max-width:768px) {
    .logo{
        font-size: 32px;
        letter-spacing: 1.5px;
    }
    .logo small{
        font-size: 10px;
        letter-spacing: 0.8px;
    }
    .menu-toggle{
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #c03a2b;
        width: 50%;
        flex-direction: column;
        align-items: center;
        display: none;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.4s ease;
        border-radius: 20px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);

    }
    .nav-links li {
        padding: 15px 0;

    }

    .nav-links.show{
        display: flex;
        max-height: 300px;
    }
    .menu-item img {
        height: 160px;
    }
}
